.eslintrc
.eslintignore

.git
.gitignore
.github

node_modules
dist
coverage
.nyc_output
.goals
.env
.env.*
metrics
venv
infra/mosquitto/passwordfile

*.md
LICENSE

vitest.config.ts
nodemon.json
*.log
