NODE_ENV=development
PORT=1996

MQTT_USER=
MQTT_PASS=
MQTT_HOST=
MQTT_PROTOCOL=mqtt
MQTT_PORT=1883
MQTT_CLIENT_ID=
MQTT_CLEAN=true
MQTT_KEEPALIVE=60
MQTT_RECONNECT_PERIOD=1000
MQTT_CONNECT_TIMEOUT=30000
MQTT_QOS=0

SUPABASE_URL=
SUPABASE_KEY=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=+10000000000

MODELS_CDN_URL=