NODE_ENV=development
PORT=1996

MQTT_USER=
MQTT_PASS=
MQTT_HOST=
MQTT_PROTOCOL=mqtt
MQTT_PORT=1883

SUPABASE_URL=
SUPABASE_KEY=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=+10000000000

MODELS_CDN_URL=